#search {
  margin: 0 auto;
  padding: 0 1rem;
  text-align: center;
}

#search-input {
  background: transparent;
  border: 0;
  font: 1em "EB Garamond", Garamond, "Times New Roman", serif;
  padding: .5em;
  color: #0b0404;
  text-align: center;
}

#search-input:focus {
  outline: 1px dashed #0b0404;
}

#results-container {
  margin-top: 1rem;
  list-style: none;
  padding: 0;
}

#results-container li {
  margin: 0.5rem 0;
}

#results-container a {
  color: #0b0404;
  text-decoration: none;
  border-bottom: 1px dashed #64644B;
}

#results-container a:hover {
  color: #fff;
  background: #dc4b3c;
  padding: 0.2rem 0.4rem;
  border-radius: 4px;
}
