$brand-color:         #FEF9F4;
$highlight:           lighten($brand-color, 35%);
$text-color:          #0b0404;
$muted-text-color:    #64644B;
$font-family: 'junicoderegular', Latin, serif;

$on-bigphone:         375px;
$on-tablet:           768px;
$on-laptop:           960px;
$on-desktop:          1200px;
