---
layout: default
---

{% if site.data.menu and site.paginate and site.paginate_path and paginator.page > 1 %}
{% include menu.html %}
{% elsif site.paginate and site.paginate_path and paginator.page > 1 %}
{% include back-link.html %}
{% else %}
<header class="site-masthead">
  {% include menu.html %}
  {% if site.title %}
  <div class="header-content">
    <img src="{{ site.baseurl }}/assets/images/rootsquare_blackbox.svg" alt="RootSquare" class="header-image">
    {% if site.title %}
    <h1 class="site-title">{{ site.title }}</h1>
    {% endif %}
  </div>
  {% endif %}
  {% if site.title %}
  <h2>
    {{ site.description }}
  </h2>
  {% endif %}
</header>
{% endif %}

<main class="home" id="main" role="main" aria-label="Content">

  <h1 class="content-title divided">
    {% if site.paginate and site.paginate_path and paginator.page > 1 %}
    Page {{ paginator.page }}
    {% else %}
    Portfolio
    {% endif %}
  </h1>

  {% if site.paginate and site.paginate_path %}

  <ul class="post-list">
    {% for post in paginator.posts %}
    {% include post-list-item.html %}
    {% endfor %}
  </ul>

  {% if paginator.total_pages > 1 %}

  <div class="post-pagination">
    {% if paginator.next_page %}
    <a href="{{ paginator.next_page_path | prepend: site.baseurl  }}" class="pagination-next btn">&lang;&nbsp;Older</a>
    {% else %}
    <span>&nbsp;</span>
    {% endif %}
    <span class="pagination-number">{{ paginator.page }} of {{ paginator.total_pages }}</span>
    {% if paginator.previous_page %}
    <a href="{{ paginator.previous_page_path | prepend: site.baseurl }}"
      class="pagination-previous btn">Newer&nbsp;&rang;</a>
    {% else %}
    <span>&nbsp;</span>
    {% endif %}
  </div>

  {% endif %}

  {% else %}

  <ul class="post-list">
    {% for post in site.posts %}
    {% include post-list-item.html %}
    {% endfor %}
  </ul>

  {% endif %}


</main>

<style>
  .header-content {
    display: flex;
    align-items: center;
    /* Vertically center the image and title */
  }

  .header-image {
    width: 150px;
    /* Set the desired width */
    height: auto;
    /* Maintain aspect ratio */
    margin: 0;
    /* Remove any margin to ensure no space */
  }

  .site-title {
    margin-left: 0;
    /* Remove any margin to ensure no space */
  }
</style>